.columns {
    margin-top: 15px;
    margin-bottom: 15px;
    img {
        height: 215px;
    }
}
.columns-id {
    margin-top: 15px;
    margin-bottom: 15px;
}
.navs {
    display: flex;
}
html {
    padding: 60px;
}